<div class="ip-app">
  <div class="header">
    <div class="search-col">
      <div class="heading">
        IP Address Tracker
      </div>
      <div class="search">
        <form class="search" action="" [formGroup]="ipForm" (ngSubmit)="onSubmit()">
          <input formControlName="searchInp" type="text" placeholder="search for any IP address or domain">
          <button [disabled]="!ipForm.valid" class="arrow-btn {{ipForm.valid?'active':''}}" type="submit">
            <img src="../assets/images/icon-arrow.svg" alt="">
          </button>
        </form>

      </div>
    </div>
    <div class="ip-detail">
      <div class="ip-col">
        <div class="h-text">IP Address</div>
        <div class="text1">{{geodata?.ip}}</div>
      </div>
      <div class="ip-col">
        <div class="h-text">Location</div>
        <div class="text1" *ngIf="geodata">
          {{geodata?.location?.city}},{{geodata?.location?.region}},{{geodata?.location?.country}}
          <button (click)="getDirection(geodata?.location?.lat,geodata?.location?.lng)" class="direction-btn"> <svg
              xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
              class="bi bi-sign-turn-right-fill" viewBox="0 0 16 16">
              <path
                d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435ZM9 8.466V7H7.5A1.5 1.5 0 0 0 6 8.5V11H5V8.5A2.5 2.5 0 0 1 7.5 6H9V4.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L9.41 8.658A.25.25 0 0 1 9 8.466Z">
              </path>
            </svg> <span>Directions</span> </button>
        </div>
      </div>
      <div class="ip-col">
        <div class="h-text">Timezone</div>
        <div class="text1">{{geodata?.location?.timezone}}</div>
      </div>
      <div class="ip-col">
        <div class="h-text">ISP</div>
        <div class="text1">{{geodata?.isp}}</div>
      </div>
    </div>
  </div>
  <div class="map" id="map">

  </div>
</div>