.header {
  width: 100%;
  height: 200px;
  background-image: url("../assets/images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.heading {
  font-size: 22px;
  color: #fff;
}
.search-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: 40px;
}

.search {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.search input {
  width: 360px;
  outline: none;
  border: none;
  padding: 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search img {
  width: 8px;
  object-fit: contain;
}
.arrow-btn {
  width: 40px;
  padding: 10px;
  text-align: center;
  background: #666;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border: none;
}
.arrow-btn.active {
  background: #333;
}
.ip-detail {
  max-width: 920px;
  min-height: 60px;
  background: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: -20%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 30px;
  z-index: 999;
}

.ip-col {
  flex-basis: 30%;
  border-right: 1px solid #ccc;
}
.ip-col:nth-last-child(1) {
  border-right: none;
}
.ip-col div {
  padding-left: 15px;
  padding-right: 6px;
}
.h-text {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  color: #777;
  font-weight: 600;
}
.text1 {
  font-size: 20px;
  font-weight: bold;
  color: #111;
}

.map {
  width: 100%;
  height: calc(100vh - 200px);
}
.map img {
  width: 100%;
  height: 100%;
}
.direction-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 11px;
  outline: none;
  border: none;
  text-align: center;
  background: #1870e2;
  color: #fff;
}
.direction-btn span {
  margin-left: 3px;
}

@media screen and (max-width: 680px) {
  .header {
    background-image: url("../assets/images/pattern-bg-mobile.png");
  }
  .ip-detail {
    flex-direction: column;
    align-items: center;
    margin: auto 6px auto 6px;
  }
  .ip-col {
    border: none;
    padding: 10px;
    text-align: center;
  }
  .h-text {
    font-size: 8px;
  }
  .text1 {
    font-size: 16px;
  }
  .search-col {
    position: relative;
    top: -10%;
  }
  .search {
    padding: 12px;
  }
  .search input {
    max-width: 220px;
    padding: 15px;
  }
  .ip-detail {
    top: -30%;
  }
  .arrow-btn {
    width: 45px;
  }
  .direction-btn {
    margin: 5px auto;
  }
}
