<div class="ip-app">
  <div class="header">
    <div class="search-col">
      <div class="heading">
        IP Address Tracker
      </div>
      <div class="search">
        <form class="search" action="" [formGroup]="ipForm" (ngSubmit)="onSubmit()">
          <input formControlName="searchInp" type="text" placeholder="search for any IP address or domain">
          <button [disabled]="!ipForm.valid" class="arrow-btn {{ipForm.valid?'active':''}}" type="submit">
            <img src="../assets/images/icon-arrow.svg" alt="">
          </button>
        </form>

      </div>
    </div>
    <div class="ip-detail">
      <div class="ip-col">
        <div class="h-text">IP Address</div>
        <div class="text1">{{geodata?.ip}}</div>
      </div>
      <div class="ip-col">
        <div class="h-text">Location</div>
        <div class="text1" *ngIf="geodata">
          {{geodata?.location?.city}},{{geodata?.location?.region}},{{geodata?.location?.country}}
        </div>
      </div>
      <div class="ip-col">
        <div class="h-text">Timezone</div>
        <div class="text1">{{geodata?.location?.timezone}}</div>
      </div>
      <div class="ip-col">
        <div class="h-text">ISP</div>
        <div class="text1">{{geodata?.isp}}</div>
      </div>
    </div>
  </div>
  <div class="map" id="map">

  </div>
</div>